@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}



footer {
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
}

#logos {
  display: flex;
  align-items: center;
}
#logos > img {
  transition: 0.4s;
}
#logos > img:hover {
  transform: translateY(-5px);
}

.companyname {
  font-family: SGB;
  font-weight: 900;
}

.companyname.footer {
  font-size: 1.4rem;
}




@media (max-width: 1200px) {
  header {
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: black;
    width: 100%;
  }

  .companyname.header {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .companyname.header > img {
    width: 3rem;
    border-radius: 10rem;
  }

  #menu-open {
    transition: 0.2s;
    animation: ease-in-out;
    transition-delay: 0.7s;
    width: 2.5rem;
  }
  #menu-open.small {
    transform: scale(0);
    transition-delay: 0s;
  }

  .link.play {
    display: none;
  }
}


@media (min-width: 1200px) {
  .companyname.header {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .companyname.header > img {
    width: 4.5rem;
    border-radius: 10rem;
  }

  header {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: black;
  }

  #menu-open {
    display: none;
  }

  #close {
    display: none;
  }

  #dropdown {
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  .link {
    font-size: 1.4rem;
  }
  .link > a {
    text-decoration: none;
    color: white;
    font-size: max(100%);
    font-family: SGL;
  }
  .link > a:hover {
    border-bottom: 1px solid white;
  }
  
  .link.six {
    display: none;
  }

  .link.play {
    margin-right: 2rem;
    align-self: center;
  }

  .link.play > a {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 4rem;
  }
  .link.play > a:hover {
    border: 1px solid #a3e635;
    color: #a3e635;
  }
}