@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}

header, footer {
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: auto;
}
header {
  padding: 0 0.5rem;
  height: 80px;
  display: flex;
  align-self: flex-start;
}
footer {
  flex-direction: column;
}

#logos {
  display: flex;
  align-items: center;
}
#logos > img {
  transition: 0.4s;
}
#logos > img:hover {
  transform: translateY(-5px);
}

.companyname {
  font-family: Montserrat;
  font-weight: 900;
}

.companyname.header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-family: SGB;
}

.companyname.header > img {
  width: 3rem;
  border-radius: 10rem;
}

.companyname.footer {
  font-size: 1.4rem;
  font-weight: 900;
}

button {
  background: none;
  border: none;  
}







@media (min-width: 1200px) {
  .companyname.header {
    font-size: 1.8rem;
  }

  .companyname.header > img {
    width: 4.5rem;
    border-radius: 10rem;
  }

  header {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    padding: 0;
  }

  #menu-open {
    display: none;
  }

  #menu-open-div {
    display: none;

  }

  #close {
    display: none;
  }

  #dropdown {
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  .link {
    font-size: 1.4rem;
  }
  .link > a {
    text-decoration: none;
    color: white;
    font-size: max(100%);
    font-family: SGL;
  }
  .link > a:hover {
    border-bottom: 1px solid white;
  }
  
  .link.six {
    display: none;
  }

  .link.play {
    margin-right: 2rem;
  }

  .link.play > a {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 4rem;
  }
  .link.play > a:hover {
    border: 1px solid #a3e635;
    color: #a3e635;
  }
}