@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: SGM;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Medium.otf);
}

.container0 {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: dashed;
}

.button {
  color: white;
  text-decoration: none;
  width: 400px;
  height: 40px;
  border: #292524;
  border-radius: 10px;
  background: #292524;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  font-family: SGB;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(213, 209, 215, 0.4);
}

.image1 {
  width: auto;
  height: 25px;
  margin-left: 0px;
}

.image2 {
  width: auto;
  height: 30px;
  padding: 10px;
  margin-left: 0px;
}

.image3 {
  width: auto;
  height: 30px;
  margin-left: 0px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SGB;
  padding: 30px;
  margin-top: 300px;

}

a {
  color: white;
  font-weight: 400;
  font-family: SGL;
}

.linktext {
  color: darkgray;
  padding: 10px;
  font-family: SGL;
}

.bottomlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(50, 50, 50);
  width: 400px;
  margin-top: 10px;
  font-size: small;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  gap: 0.5rem;
  align-items: center;
  top: 0px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #292524;
  background-color: black;
  margin: 0;
}

#links {
  display: flex;
  gap: 0.5rem;
}
#links > button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: #292524;
  color: #fafaf9;
}
#links > button:last-child {
  background-color: #fafaf9;
}
#links>button>a {
  text-decoration: none;
  color: #fafaf9;
  font-size: 1rem;
  font-family: SGM;

}
#links>button:last-child>a {
  color: black
}

.companyname {
  font-family: SGB;
  font-weight: 900;
}

.companyname.header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 0rem;
  font-family: SGB;
}

.companyname.header > a > img {
  width: 3rem;
  border-radius: 10rem;
}

footer {
  padding: 0.5rem 0;
  height: 2rem;
  color: #fafaf9;
  background-color: black;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: SGB;
  border-top: 1px solid #292524;
  margin-top: auto;
}

footer > a {
  text-decoration: none;
}

footer > button, form > button {
  background-color: black;
  color: #fafaf9;
  border: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SGL;
  width: 4rem;
}

footer > form {
  background-color: black;
}

button > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

@media (max-width: 1200px) {
  .button {
    width: min(90vw, 400px);
    font-size: 1rem;
  }

  .bottomlinks {
    width: min(90vw, 400px);
    font-size: 1rem;
  }

  .container0 {
    width: auto;
  }

  .image1 {
    height: 20px;
  }

  .image2, .image3 {
    height: 25px;
  }

  header {
    gap: 0.5rem;
    align-items: center;
    top: 0px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #292524;
    background-color: black;
    margin: 0;  
  }

  #links {
    display: flex;
    gap: 0.5rem;
  }
  #links > button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-family: SGM;
    background-color: #292524;
    color: #fafaf9;
  }
  #links > button:last-child {
    background-color: #fafaf9;
  }
  #links>button>a {
    text-decoration: none;
    color: #fafaf9;
    font-size: 1rem;
  }
  #links>button:last-child>a {
    color: black
  }

  .companyname {
    font-family: SGB;
    font-weight: 900;
  }
  
  .companyname.header {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 0rem;
    font-family: SGB;
  }
  
  .companyname.header > a > img {
    width: 3rem;
    border-radius: 10rem;
  }

  .headerbox {
    margin-top: 50%;
  }
}