@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: SGM;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Medium.otf);
}

#left-links {
  display: none;
}


body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  gap: 0.5rem;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #292524;
  background-color: black;
}

#logos {
  display: flex;
  align-items: center;
}
#logos > img {
  transition: 0.4s;
}
#logos > img:hover {
  transform: translateY(-5px);
}

.companyname {
  font-family: SGB;
  font-weight: 900;
}

.companyname.header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 0rem;
  font-family: SGB;
}

.companyname.header > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyname.header > a > img {
  width: 3rem;
  border-radius: 10rem;
}


#container {
  padding: 1rem;
  padding-bottom: 6rem;
}

#links {
  display: flex;
  gap: 0.5rem;
}
#links > button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-family: SGM;
  background-color: #292524;
  color: #fafaf9;
}
#links > button:last-child {
  background-color: #fafaf9;
}
#links>button>a {
  text-decoration: none;
  color: #fafaf9;
  font-size: 1rem;
}
#links>button:last-child>a {
  color: black
}

.tabName {
  font-size: 2rem;
  font-family: SGB;
  margin-top: 1rem;
}

.content {
  background-color: #292524;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.head, .tournament {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem;
  font-family: SGL;
}
.head > a, .tournament > div {
  padding: 0.5rem;
  text-decoration: none;
  color: #fafaf9;
  overflow: hidden;
}


.head {
  font-family: SGB;
  font-weight: 900;
}


.title {
  min-width: 10rem;
}
.fund, .buyin {
  min-width: 4rem;
  font-size: 0.8rem;
  border-left: none;
}

#title {
  width: 10rem;
}
#fund, #buyin {
  width: 5rem;
}

footer {
  padding: 0.5rem;
  height: 2rem;
  color: #fafaf9;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  font-family: SGB;
  border-top: 1px solid #292524;
  margin-top: auto;
}

footer > a {
  text-decoration: none;
  background-color: black;
  color: #fafaf9;
  border: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SGL;
  width: 4rem;
}

a > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}








@media (min-width: 1000px) {
  

  footer {
    display: none;
  }

  header {
    gap: 0.5rem;
    align-items: center;
    top: 0px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #292524;
    background-color: black;
    margin: 0;  
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #left-links {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
  }
  
  #left-links > a {
    text-decoration: none;
    font-family: SGM;
    font-size: 1rem;
    color: white;
  }
  
  #links {
    display: flex;
    gap: 0.5rem;
  }
  
  #links > button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    background-color: #292524;
    color: #fafaf9;
  }
  #links > button:last-child {
    background-color: #fafaf9;
  }
  #links>button>a {
    text-decoration: none;
    color: #fafaf9;
    font-size: 1rem;
    font-family: SGM;
  }
  #links>button:last-child>a {
    color: black
  }
  
  .companyname {
    font-family: SGB;
    font-weight: 900;
  }
  
  .companyname.header {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 0rem;
    font-family: SGB;
  }
  
  .companyname.header > a > img {
    width: 3rem;
    border-radius: 10rem;
  }
}



#container {
  color: #fafaf9;
}


#wallet {
  display: flex;
  color: white;
  align-self: center;
  margin-top: 2rem;
}

#funds {
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #292524;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  gap: 0.5rem;
}

#wtitle {
  background-color: #2563eb;
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#account {
  display: flex;
  gap: 0.5rem;
}

#aname {
  display: flex;
  align-items: center;
  background-color: #292524;
  color: white;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  position: relative;
  width: 10rem;
}

#notify {
  color: white;
  background-color: #292524;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#live {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  margin-top: 2rem;
  font-family: SGL;
}

#winnings, #winners, #practice {
  background-color: #292524;
  height: 5rem;
  width: max(7rem, 10%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
}

#amenu {
  background-color: #292524;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem 0.5rem;
  width: 10rem;
  position: absolute;
  top: 2rem;
  left: 0;
  display: none;

}

#amenu.visible {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#amenu > div {
  display: flex;
  align-items: center;
  font-family: SGL;
  gap: 0.5rem;
  border-bottom: 1px solid #292524;
  width: fit-content;
}

#amenu > div:hover {
  border-bottom: 1px solid white;
}

#aname {
  font-family: SGL;
}