@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: Montserrat L;
  src: url(./fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: Proxima;
  src: url(./fonts/Proxima\ Nova\ Font.otf);
}

@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}


body {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0;
  padding: 0;
}


img {
  width: 2rem;
  margin: 0 0.5rem;
}

video {
  margin: 0;
}

#video-box {
  height: 670px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

#video-name {
  font-size: 2.5rem;
  color: white;
  width: fit-content;
  text-align: center;
  font-family: SGB;
  position: absolute;
  left: 1rem;
  top: 8rem;
  margin-left: auto;
  margin-right: auto;
}

#letsPlay {
  font-size: 1.4rem;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-family: SGL;
}

#video-overlay1 {
  height: 120px;
  position: absolute;
  top: 48rem;
  width: 100%;
  box-shadow: 180px -50px  50px black;
  z-index: 101;
}
#video-overlay2 {
  height: 120px;
  position: absolute;
  top: 48rem;
  width: 100%;
  box-shadow: -180px -50px  50px black;
  z-index: 101;
}

#overview {
  z-index: 105;
  color: white;
  padding: 0 2rem 2rem;
}

#overview > div {
  font-family: SGB;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#overview > p {
  font-size: 1.2rem;
  font-family: SGL;
}

#advantages {
  color: black;
  background-color: #d1d5db;
  padding: 2rem 2rem;
}
#advantages > div {
  font-family: SGB;
  font-size: 2.5rem;
}
#advantages > ul {
  text-decoration: none;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
li > div:first-child {
  font-size: 1.4rem;
  font-family: SGB;
}
li > div:last-child {
  font-family: SGL;
  font-size: 1.2rem;
}

#utilities {
  color: white;
  padding: 2rem;
}
#utilities > div {
  font-size: 2.5rem;
  font-family: SGB;
  text-align: center;
  margin-bottom: 2rem;
}
#utilities > p {
  font-family: SGB;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

#roadmap {
  color: black;
  background-color: #d1d5db;
  padding: 2rem;
}
#roadmap > div:first-child {
  font-size: 2.5rem;
  font-family: SGB;
  margin-bottom: 2rem;
}
#roadmap > div {
  font-size: 1.4rem;
  font-family: SGB;
}
#roadmap > p {
  font-family: SGL;
  font-size: 1.2rem;
}