@font-face {
  font-family: SGB;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

@font-face {
  font-family: SGL;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: SGM;
  src: url(./fonts/spacegrotesk/SpaceGrotesk-Medium.otf);
}



body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  gap: 0.5rem;
  align-items: center;

  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #1c1917;
}

#logos {
  display: flex;
  align-items: center;
}
#logos > img {
  transition: 0.4s;
}
#logos > img:hover {
  transform: translateY(-5px);
}

.companyname {
  font-family: SGB;
  font-weight: 900;
}

.companyname.header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 0rem;
  font-family: SGB;
}

.companyname.header > a > img {
  width: 3rem;
  border-radius: 10rem;
}


#container {
  padding: 1rem;
  padding-bottom: 6rem;
}

#links {
  display: flex;
  gap: 0.5rem;
}
#links > button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-family: SGM;
  background-color: #1c1917;
  color: #fafaf9;
}
#links > button:last-child {
  background-color: #fafaf9;
}
#links>button>a {
  text-decoration: none;
  color: #fafaf9;
  font-size: 1rem;
}
#links>button:last-child>a {
  color: black
}

.tabName {
  font-size: 2rem;
  font-family: SGB;
  margin-top: 1rem;
}

.content {
  background-color: #1c1917;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.head, .tournament {
  display: flex;
  padding: 0.5rem;
  font-family: SGL;
}
.head > a, .tournament > div {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  overflow: hidden;

}


.head {
  font-family: SGB;
  font-weight: 900;
}


.title {
  width: 10rem;
}
.fund, .buyin {
  width: 4rem;
  font-size: 0.8rem;
  border-left: none;
}

#title {
  width: 10rem;
}
#fund, #buyin {
  width: 4rem;
}

footer {
  padding: 0.5rem 0;
  height: 2rem;
  color: white;
  background-color: black;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: SGB;
  border-top: 1px solid #1c1917;
  margin-top: auto;
}

footer > a {
  text-decoration: none;
  color: white;
}

footer > button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: SGB;
}







@media (min-width: 1200px) {
  .companyname.header {
    font-size: 1.8rem;
  }

  .companyname.header > img {
    width: 4.5rem;
    border-radius: 10rem;
  }

  header {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    padding: 0;
  }
}

img {
  width: 2rem;
  margin: 0 0.5rem;
}

#container {
  color: #fafaf9;
}